@model IEnumerable<ClubJumana.DataLayer.Entities.ProductMaster>

@{
    ViewData["Title"] = "salam";
}

<h1>Hello, Vue 3</h1>

<div id="app">
    <p>salam</p>
</div>

<script src="https://unpkg.com/vue@3.0.2"></script>

<script>
    const app = Vue.createApp(
        {
            template: '<h2>I am Mansour</h2>'
        })

    app.mount('#app')
</script>




